@model ChangePasswordViewModel
@{
    ViewBag.Title = "Зміна пароля | Козацька Справа";
    ViewBag.Style = "~/css/Login.css";
}
<div class="container">
    <h2>Зміна пароля для користувача @User.Identity.Name</h2>
    <form asp-controller="Account" asp-action="ChangePassword">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="text-field">
            <label asp-for="OldPassword" class="text-field__label">Старий пароль</label>
            <input type="text" asp-for="OldPassword" class="text-field__input" />
            </div>
        <div class="text-field">
            <label asp-for="NewPassword" class="text-field__label">Новий пароль</label>
            <input type="text" asp-for="NewPassword" class="text-field__input" />
            </div>
   
        <div class="input-submit">
            <input type="submit" value="Зберегти зміни" />
            </div>
    </form>
</div>