<div class="container">
<form method="post">
    <h2>Ви впевнені,що хочете видалити свій акаунт?</h2>
    <div class="input-submit">
        <input type="submit" value="Так" />
    </div>
</form>
</div>