  @{ 
      ViewBag.Title = "Адмін | Козацька Справа";
  }
<div class="container">
    <h2>Адмін панель</h2>
    <div class="btn">
    <a class="button" asp-controller="Roles" asp-action="Index">Управління ролями</a>
    <a class="button" asp-controller="Admin" asp-action="ChangeMenu">Управління меню</a>
    <a class="button" asp-controller="Admin" asp-action="AllOrders">Всі замовлення</a>
    
</div>

</div>