@model string
@{
    ViewBag.Title = "Створення ролі | Козацька Справа";
}
<div class="container">
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="name">Нова роль</label>
        <input name="name" class="form-control" />
            <div class="input-submit">
                <input type="submit" value="Додати" />
            </div>
    </div>
</form>
</div>