@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewBag.Title = "Управління ролями | Козацька Справа";

}
<div class="container">
<h2>Список ролей</h2>
<table class="table">
    @foreach (var role in Model)
    {
            <tr>
                <td >@role.Name</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                        <a class="button" style="padding: 0px">
                            <input type="submit" class="inp-bt" value="Видалити">
                        </a>
                        
                        
                    </form>
                </td>
            </tr>
    }
</table>
<div class="btn">
<a class="button" asp-action="Create">Додати роль</a>
<a class="button" asp-action="UserList">Список користувачів</a>
    </div>
</div>