   @{ ViewBag.Titile = "Про нас | Козацька Справа";
   }

<div class="container">
    <h2>Історія виникнення доставки</h2>
    <p>
        Тут буде якись текст.
    </p>
    <h3>Способи оплати</h3>
    <p>
        Оплата готівкою на місці
    </p>
    <p>
        Оплата картою 
    </p>
    <p>Кожна операція відбувається з виданням фіскального чеку</p>
    <h3>Де ми знаходимось</h3>
    <p>Знайти нас можна за адресою</p>
    <p>Ivano-Frankivsk vyl Torgova 2</p>


</div>